*{
    margin: 0px;
    padding: 0px;
}
/* header section  */
.head-cont{
    height: 100vh;
    background-color: #FCEEF1;
    
}
.nav-icon{
    display: flex;
    justify-content: left;
    padding-left: 135px;
    padding-top: 120px;
    gap: 90px;
    font-size: 50px;
}
.nav-icon li:hover{
    color: #D14463;
}
.nav-icon li{
    list-style: none;
}
.head-cover{
    display: flex;
    justify-content: space-around;
    margin-top: 29px;
}
.cover-img{
    height: 800px;
    width: 635px;
    margin-buttom: ;
}
.hd-h1{
    font-size: 80px;
    width: 700px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 150px;
}
.span-s{
    color: #D14463;
    font-size: 100px;
}
.hd-p{
     font-size: 20px;
     color: rgb(154, 154, 154);
     margin-top: 20px;
     margin-bottom: 35px;
}
.btn-1{
    font-size: 20px;
    padding: 10px;
    width: 300px;
    background-color: #d14463;
    color: white;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 10px rgb(125, 125, 125);
}
.btn-1 i{
    margin-right: 10px;
}
.btn-1:hover{
    color: gray;
    background-color: black;
}
/* item section  */
.item-cont{
    height: 80vh;
    width: 80%;
    margin: auto;
}
.item-text h1{
    font-size: 40px;
    color: rgb(0, 0, 0);
}
.item-text p{
    color: black; 
    font-size: 20px;
}
.item-text{
    text-align: center;
    margin-top: 100px;
}
.img-1{
    width: 310px;
    height: 428px;
    margin-top: 110px;

}
.img-2{
    width: 370px;
    height: 370px;
    margin-top: 80px;
}
.img-3{
    width: 310px;
    height: 428px;
    margin-top: 110px;
}
.bg-img1{
    background-color: #F2DEE7;
    width: 464px;
    height: 538px;
    display: flex;
    justify-content: center;
    border-radius: 300px 300px 0px 0px;
    border: none;
}
.bg-img2{
    background-color: #DAEFF1;
    width: 464px;
    height: 538px;
    display: flex;
    justify-content: center;
    border-radius: 300px 300px 0px 0px;
    border: none;
}
.bg-img3{
    background-color: #E3ECDB;
    width: 464px;
    height: 538px;
    display: flex;
    justify-content: center;
    border-radius: 300px 300px 0px 0px;
    border: none;
}
.item-img{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}
.img-p{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}
/* section 3  */
.sec-3{
    background-color: #F4F4F4;
    width: 80%;
    margin: auto;
    height: 320px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}
.sec-3-p{
font-size: 20px;
display: flex;
}
/* section 4 */
.sec-4{
    width: 100%;
    height: 650px;
    background-color: #FEF6F8;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 130px 0px 130px 0px;

}
.sec4-text{
    text-align: center;
}
.sec4-text h1{
    font-size: 40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.off{
    color: red;
}
.sec4-text p{
        font-size: 20px;
        margin-bottom: 30px;
        margin-top: 20px;
}
.btn-2{
    font-size: 20px;
    height: 65px;
    width: 150px;
    background-color: #d14463;
    color: white;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 10px 10px rgb(125, 125, 125);
}
/* section 5 */
.sec-5{
    width: 80%;
    height: 50vh;
    margin: auto;

}
.sec5-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sec5-img img{
    box-shadow: 5px 5px 10px black;
}
.sec5-text{
    text-align: center;
}
.sec5-text h1{
    font-size: 30px;
    margin-bottom: 20px;
}
.sec5-text p{
    font-size: 17px;
    text-align: center;
    margin-bottom: 30px;
}
/* section 6 text and input  */
.sec-6{
    height: 50vh;
    width: 80%;
    margin: 200px 0px 0px 200px;
    background-image: url('./bg-last-sec.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 10px 10px gray;
}
.sec6-input{
          height: 65px;
          width: 700px;
          border: none;
          border-radius: 5px;
          padding-left: 20px;
          margin-right: 15px;
          box-shadow: 5px 10px 10px gray;
}p
.sec6-text h1{
        font-size: 40px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-bottom: 20px;
}
.sec6-text p{
    font-size: 18px;
    color: gray;
    margin-bottom: 50px;
}
/* footer section  */
.footer-cont{
    height: 50vh;
    background-color: black;
    margin-top: 150px;
}
.ft-h1{
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.ft-color{
    color: #E55473;
}
.footer-text p{
    color: #F2DEE7;
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 40px;
}
.ft-icon i{
    margin-right: 10px;
}
.ft-p{
    color: #F2DEE7;
    font-size: 20px;
    margin-top: 70px;
    margin-bottom: 40px;
    text-align: center;
}
.p-align{
    text-align: right;
    border-right: 5px solid #E55473;
    padding-right: 40px;
}
.ft-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
    margin-right: 180px;
}
.footer-text p>small{
    font-size: 12px;
    color: gray;
}
/* cart section  */
.cart{
    height: 80vh;
    background-image: url('./cart-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 70px;
    margin-bottom: 30px;

} 
.cart-item{
    width: 300px;
    height: 420px;
    border: 3px solid wheat;
    background-color: #DAEFF1;
    border-radius: 10px;
    box-shadow: 8px 8px 15px white;

}
.cart-item:hover{
    box-shadow: -8px -8px 15px gray;
}
.cart-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    margin-top: 80px;
}
.cart-img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}
.cart>h1{
font-size: 40px;
color: white;
text-align: center;
padding-top: 62px;
}
.cart>p{
    font-size: 20px;
    color: antiquewhite;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;

}
.cart-item h2{
    font-size: 30px;
    margin-left: 10px;
    margin-bottom: 5px;
}
.cart-item p{
    font-size: 20px;
    margin-left: 10px;
    color: gray;
}
.cart-btn{
    font-size: 15px;
    height: 35px;
    width: 100px;
    background-color: black;
    color: antiquewhite;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
}
.cart-btn:hover{
    color: gray;
    background-color: antiquewhite;
}